body{
    font-family: Arial, serif;
}

#nav{
}

#container{
    height: 300px;
    background-image: url("https://thumbs.dreamstime.com/z/bon-retour-%C3%A0-la-banni%C3%A8re-d-%C3%A9cole-ou-l-en-t%C3%AAte-de-site-web-avec-feuille-d%C3%A9chir%C3%A9e-sortie-papier-et-barre-mise-valeur-r%C3%A9aliste-194649680.jpg?w=992");
    background-size: cover;
}

#title{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav ul li{
    display: inline-block;
    padding: 30px;
    margin: auto;
}

/*Card Sorties */
section{
    width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 900px) {

    .section {
        width: 600px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {

    .section {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

.activity-card{
}

.total-card{
    border: 15px solid rgba(100, 100, 100, 0.05);
    border-radius: 40px;
}

.top {
    min-height: 200px;
    background-image: url("https://images.rtl.fr/~c/770v513/rtl/www/1135693-l-art-de-faire-la-fete.jpg");
    background-size: cover;
    background-color:#ddd;
    border-radius: 24px 24px 0 0;
}

.bottom{
    padding:20px;
    background-color:#DEE3E6;
    border-radius: 0 0 24px 24px;
}

.tps{
    display:block;
    float:right;
    padding: 8px 15px;
    border-radius: 6px;
    margin:20px;
    background-color:#fff;
}
.inner-tps{
    background-image: linear-gradient(to right top, #d04dcf, #db44c3, #e53bb6, #ed32a9, #f3299c, #f72791, #fb2786, #fd2a7b, #fe3371, #ff3c66, #fe465d, #fc4f54);
    color:transparent;
    background-clip: text;
}

.fontweight{
    font-weight: 700;
}

.bottom a  {
    position: relative;
    top: -30px;
    padding: 15px 25px;
    background-image: linear-gradient(to right top, #d04dcf, #db44c3, #e53bb6, #ed32a9, #f3299c, #f72791, #fb2786, #fd2a7b, #fe3371, #ff3c66, #fe465d, #fc4f54);
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}
