{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
    <div>
        <a href="">

        </a>
    </div>

    <a href="{{ path('app_activity_create') }}">Proposer une sortie</a>

{% endblock %}