{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }} {% endblock %}

{% block body %}
    <div>
        <a href="">

        </a>
    </div>
    
    <a href="{{ path('app_activity_create') }}">Proposer une sortie</a>

{% endblock %}