{% extends 'base.html.twig' %}

{% block title %}Nouvelle Ville {{ parent() }}{% endblock %}

{% block body %}

    {{ form_start(cityForm) }}
    {{ form_widget(cityForm) }}
    <button type="submit" class="call-action-btn create-activity-publication">Ajouter une ville</button>
    {{ form_end(cityForm) }}

{% endblock %}



