{% extends 'base.html.twig' %}

{% block body %}

    <div class="detail-activity-show container-error container-form-and-show-min">
        <h2 class="title-show">Error inconnue</h2><br><br><br>

        <span class="info-show">Aucune information à afficher <a style="color:#ff3c66; text-decoration: none" href="{{ path('app_activity_index') }}">retourner à la page d'accueil</a>.
    </span>
    </div>
{% endblock %}