{% extends 'base.html.twig' %}

{% block body %}

    <div class="detail-activity-show container-form-and-show-min">
        <h2 class="title-show">Page non trouvée</h2><br><br><br>

        <span style="line-height: 2em;" class="info-show">
            La page que vous recherchez semble introuvable. Vérifiez l'URL pour des erreurs de frappe ou <a style="color:#ff3c66; text-decoration: none" href="{{ path('app_activity_index') }}">retournez à la page d'accueil</a>.
    </span>
    </div>
{% endblock %}